<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Tecno Market {% block title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body>
        <header>
            <nav>
                <a href="{{ url_for('dashboard') }}"><button>Inicio</button></a>
                <a href="{{ url_for('ver_productos') }}"><button>Productos</button></a>
                <a href="{{ url_for('clientes') }}"><button>Clientes</button></a>
                <a href="{{ url_for('pedidos') }}"><button>Pedidos</button></a>
            </nav>     
        </header>

        <main>
            <h1>Hola {{ nombre_admin }}, bienvenido al panel de {{ tienda }}</h1>
            <p>Fecha actual: {{ fecha }}</p>
            <hr>
            
            {% block content %}
                Contenido
            {% endblock %}

            <footer>
                <p>&copy; 2025 TecnoMarket</p>
            </footer>
        </main>
    </body>
</html>